aws_region    = "ap-south-1"
az            = "ap-south-1a"
project       = "receptormapper"
instance_type = "t3.large"

dynamodb_jobs_table  = "prediction_jobs"
dynamodb_cache_table = "prediction_cache"

repo_url = "https://github.com/BS14/receptormapper.git"
